body {
	font-family:Helvetica,"Helvetica Neue",sans-serif;
	font-size:1.2em;
	background-color:white;
	margin:0;
	color:#32383c;
	padding:0px 0px 0px 0px;
	line-height:1.6;
	word-spacing:1px;
	font-weight:normal;
}
::-webkit-scrollbar {width:20px;}
::-webkit-scrollbar-track {background:rgb(240, 242, 244);}
::-webkit-scrollbar-thumb {background : #333f50;}
a {text-decoration:none; color:#57BFED;}
a:visited {color:#660099;}
a:hover {text-decoration:underline;}
img{max-width:100%}
ul {list-style-type:square;}
blockquote {
	font:14px/22px normal helvetica, sans-serif;
	margin:10px 0px;
	padding:1px 10px;
	border-left:3px solid #ccc;
	min-width:50%;
	width:900px;
	max-width:95%;
	background:#f0f2f4;
} 

pre {
	line-height: 140%;
	padding:0px 20px;
	margin:10px 0px;
}	 
code {
	font-family: Consolas, monospace;
	background:#f0f2f4;
}
pre>code {
	padding:0;
	background:inherit;
}

#navbar-menu {
	list-style-type:none;
	display:block;
	/*height:40px;*/
	padding:0;
	border-top:3px solid #1e2832;
}
.navlink {
	text-decoration: none;
	color:black;
	display:block;padding:5px 32px 20px 32px;
}
.navlink:visited {color:black;}
.navlink:active {border-top:1px solid #1e2832}
.navlink:hover{text-decoration:none;color:#bebebe;background:#1e2832;}
#active {border-top:1px solid #1e2832;color:#bebebe;background:#1e2832;}
#active .navlink:visited {color:#bebebe;}
#navbar-menu li {
	float:left;
	text-align:center;
	padding:0px 0px 5px 0px;
	height:40px;
}

#content {clear:both;margin:0 5%;position:relative;}

#header {background:#333f50; line-height:normal; font-size:medium;}
/*#header a {color:#e6e6e6;text-decoration:none;}*/

#titlearea {margin:0px 32px;padding:8px 0px;}
#titlearea>h1 {margin:0;}
#titletext {display:inline; color:#AAA}
#titlelink, #titlelink:hover, #titlelink:active, #titlelink:visited {text-decoration:none; color:white;}
.inline {display:inline;}
#footer {
	padding:30px 32px 30px 32px;
	/*background:#333f50;*/
	color:#1e2832;
}
#history{
	position:absolute;
	right:50px;
	color:#1e2832;
	display:inline;
}

.pretty {
	font-family: Verdana, Sans-Serif;
	background:white;
	border-collapse:collapse;
	text-align:left;
	margin:15px;
}
.pretty th{
	font-size:120%;
	color:#333f50;
	border-bottom:2px solid #333f50;
	padding:10px 8px;
}
.pretty td{
	color:#465064;
	padding:6px 8px;
}
.pretty tr:hover{background:#fafafa;color:#000;}
.pretty .bar {padding:0px 8px; background:#eee;}
.pretty .bar p {margin:2px;}


.side {float:right;padding:0px 70px 0px 10px;}
.text-block {max-width:60%;}
.text-block>p {margin-top:0em; margin-bottom:1em;}

.anchor {color:inherit;}
.anchor:hover {text-decoration: none;}
.anchor:hover .anchor-link {visibility:visible; text-decoration:none;}
.anchor-link {visibility:hidden; padding:0 4px 0 4px; color:#32383c}
.toc {	
	font:14px/22px normal helvetica, sans-serif;
	padding:5px 0px;
	width:225px;
	border-left:3px solid #ccc;
	background:#f0f2f4;
	position:fixed;
	right:0;
	top:74px;
	height:100%;
 }
.toc-fixed {
	top:0;
}
.toc-title, .toc-link, .toc-link:visited {color:#0066CC;}
.toc-title {margin:14px 0 0 18px;}
.toc-link {display:block; text-decoration:none;}
.toc-link:hover {background-color:#333f50; color:white; text-decoration: none;}
.toch2 {padding-left:1em;}
.toch3 {padding-left:2.5em;}
.toc-caption {padding-left:1em; font-size:12px; color:grey;}
.toc-toggle {bottom:84px; position:absolute; left:50%; margin-left:-30px; cursor:pointer; color:#0066CC;}
.toc-hidden {border:0;background-color:transparent;}
.toc-hidden .toc-title {visibility:hidden;}
.toc-hidden .toc-link {visibility:hidden;}
.toc-hidden .toc-caption {visibility:hidden;}
.toc-fixed .toc-toggle {bottom:10px;}

.reference {font-family:"Calibri", "Lucida Grande", Sans-Serif;}
.frames {display:inline;position:relative}
.frames>img {border:10px solid #e6e6e6;border-bottom:45px solid #e6e6e6;}
.frames>p {
	position:absolute;
	text-align:left;
	padding-left:20px;
	width:100%;
	bottom:-6px;
	color:#888;
}

.gallery {
	height: 1000px;
	margin: 80px auto 0 auto;
	text-align: center;
	max-width:1460px;
	display:table;
}
.gallery .box {
	border: 5px solid #888;
	height:320px;
	width:345px;
	margin:5px;
	position: relative;
	float:left;
	overflow: hidden;
	display:table-cell;
	padding:0;
}
.gallery .box .caption {
	background: rgba(0,0,0,0.8);
	position: absolute;
	width:320px;
	height:290px;
	color: #fff;
	z-index: 100;
	text-align: left;
	padding:15px;
	opacity: 0;
	left: 0px;
	top: 0px;
}
.gallery .caption-title {margin-top:0.1em;}
.gallery .box img {position: absolute;left: 0; height:320px; width:345px;}
.gallery .box:hover .caption {opacity: 1}

.hero {
	position:absolute;
	left:0 !important;
	top:0 !important;
	width:100% !important;
	height:100% !important;
}

.incomplete {
	font-size:smaller;
}

#github {
	background-image:url("/res/github_before.png");
	float:right;
	height:64px;
	width:64px;
	margin: 3px 10px 0px 0px;
}
#github:hover {background-image:url("/res/github_after.png");}
#linkedin {
	background-image:url("/res/linkedin_before.png");
	float:right;
	height:64px;
	width:64px;
	margin: 3px 10px 0px 0px;
}
#linkedin:hover {background-image:url("/res/linkedin_after.png");}
#resume {
	background-image:url("/res/resume_before.png");
	float:right;
	height:64px;
	width:64px;
	margin: 3px 20px 0px 0px;
}
#resume:hover {background-image:url("/res/resume_after.png");}
.reverse {unicode-bidi: bidi-override;direction: rtl;display:inline;}

@media (max-width:1662px) {
	.gallery {
	max-width: 730px;
	}
	#main-gallery {
	max-width: 730px;
	}
}
@media (max-width:1200px) {
	.gallery {
	max-width: 730px;
	}
}
@media (max-width:950px) {
	.toc {
		display:block;
		position:static;
	}
	.text-block {
		max-width:100%;
	}
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
}
@keyframes slideUp {
	0% {transform: translateY(100%);}
	50%{transform: translateY(-8%);}
	65%{transform: translateY(4%);}
	80%{transform: translateY(-4%);}
	95%{transform: translateY(2%);}		
	100% {transform: translateY(0%);}	
}
@-webkit-keyframes slideUp {
	0% {-webkit-transform: translateY(100%);}
	50%{-webkit-transform: translateY(-8%);}
	65%{-webkit-transform: translateY(4%);}
	80%{-webkit-transform: translateY(-4%);}
	95%{-webkit-transform: translateY(2%);}		
	100% {-webkit-transform: translateY(0%);}	
}

