<!DOCTYPE html>
<html prefix="og: htttp://ogp.me/ns#">
<head>
<meta charset="UTF-8">
<meta property="og:title" content="{{ page.title }} - Johnson Zhong's Design Portfolio" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://lemonpi.github.io/{{ page.url }}" />
<meta property="og:image" content="https://lemonpi.github.io/ogimg.png" />
<title>{{ page.title }} - Console tester</title>
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/res/jq-console/css/console.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/code.css" />
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
<style>
#content {position:initial}
::-webkit-scrollbar {width:0px;}
</style>
</head>
<body>
</div>
<div id="content">
{{ content }}
</div>
</body>
</html>