<div id="header">

	{% include iconlinks.html %}
	
	<div id="titlearea"><h1><a id="titlelink" href="{{ site.baseurl }}/"><p id="titlename">Johnson Zhong's</p> <p id="titletext">Design Portfolio</p></a></h1></div>
</div>

<div id="navbar">
    <ul id="navbar-menu">
		{% if page.group == "projects" %}
			<li id="active"><a class="navlink" href="{{ site.baseurl }}/">Projects</a></li>
		{% else %}
			<li><a class="navlink" href="{{ site.baseurl }}/">Projects</a></li>
		{% endif %}
		
		{% if page.group == "sal" %}
			<li id="active"><a class="navlink" href="{{ site.baseurl }}/sal/">SAL</a></li>
		{% else %}
			<li><a class="navlink" href="{{ site.baseurl }}/sal/">SAL</a></li>
		{% endif %}

		{% if page.group == "about" %}
			<li id="active"><a class="navlink" href="{{ site.baseurl }}/about.html">About</a></li>
		{% else %}
			<li><a class="navlink" href="{{ site.baseurl }}/about.html">About</a></li>
		 {% endif %}
		 <div style="clear:both"></div>
    </ul>
</div>