<!DOCTYPE html>
<html prefix="og: htttp://ogp.me/ns#">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="{{ page.title }} - Johnson Zhong's Design Portfolio" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://lemonpi.github.io/{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}/favicon-32x32.png" />
<title>{{ page.title }} - SAL Documentation</title>
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/code.css" />
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
<script type="text/javascript" src="{{ site.baseurl }}/javascript/usability.js"></script>
</head>
<body>
<div id="header">

	{% include iconlinks.html %}
	
	<div id="titlearea"><h1><a id="titlelink" href="{{ site.baseurl }}/sal/"><p id="titlename">Simple Algorithms</p> <p id="titletext">Library</p></a></h1></div>
</div>

<div id="navbar">
    <ul id="navbar-menu">
		{% if page.section == "numeric" %}
			<li id="active"><a class="navlink" href="/sal/numeric/">numeric</a></li>
		{% else %}
			<li><a class="navlink" href="/sal/numeric/">numeric</a></li>
		{% endif %}
		
		{% if page.section == "perm" %}
			<li id="active"><a class="navlink" href="/sal/perm/">perm</a></li>
		{% else %}
			<li><a class="navlink" href="/sal/perm/">perm</a></li>
		{% endif %}

		{% if page.section == "prime" %}
			<li id="active"><a class="navlink" href="/sal/prime/">prime</a></li>
		{% else %}
			<li><a class="navlink" href="/sal/prime/">prime</a></li>
		{% endif %}

		{% if page.section == "search" %}
			<li id="active"><a class="navlink" href="/sal/search/">search</a></li>
		{% else %}
			<li><a class="navlink" href="/sal/search/">search</a></li>
		{% endif %}

		{% if page.section == "sort" %}
			<li id="active"><a class="navlink" href="/sal/sort/">sort</a></li>
		{% else %}
			<li><a class="navlink" href="/sal/sort/">sort</a></li>
		{% endif %}

		{% if page.section == "graph_algo" %}
			<li id="active"><a class="navlink" href="/sal/graph/">graph</a></li>
		{% else %}
			<li><a class="navlink" href="/sal/graph/">graph</a></li>
		{% endif %}
				
    </ul>
</div>

	<div id="content">
	{% if page.branch != "base" %}
		<h1 id="pagetitle">{{ page.title }}</h1>
	{% endif %}
	{{ content }}
	</div>

	{% include footer.html %}

</body>
</html>