<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ page.title }} - Johnson Zhong's Design Portfolio</title>
<link rel="stylesheet" href="{{ site.baseurl }}main.css" />
<link rel="shortcut icon" href="/portfolio/favicon.ico">
</head>
<body>
<div id="header">
<div id="titlearea"><h1><a href="{{ site.baseurl }}">Johnson Zhong's <p id="titletext">Design Portfolio</p></a></h1></div>
<div id="navbar">
    <ul id="navbar-menu">
        <li><a href="{{ site.baseurl }}principles.html">Principles</a></li>
        <li><a href="{{ site.baseurl }}process.html">Process</a></li>
        <li><a href="{{ site.baseurl }}projects/">Projects</a></li>
        <li><a href="{{ site.baseurl }}evaluations/">Evaluations</a></li>
                <li><a href="{{ site.baseurl }}about.html">About</a></li>
    </ul>
</div>
</div>
<div id="content">
<h1>{{ page.title }}</h1>
{{ content }}
</div>

<div id="footer">
<p>johnsonzhong@hotmail.ca <a href=https://github.com/LemonPi/portfolio/commits/gh-pages/{{page.path}}>page history</a></p>
</div>
</body>
</html>