<!DOCTYPE html>
<html prefix="og: htttp://ogp.me/ns#">
<head>
<meta charset="UTF-8">
<meta property="og:title" content="{{ page.title }} - Johnson Zhong's Design Portfolio" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://lemonpi.github.io/{{ page.url }}" />
<meta property="og:image" content="https://lemonpi.github.io/ogimg.png" />
<title>{{ page.title }} - Johnson Zhong's Design Portfolio</title>
<link rel="stylesheet" href="{{ site.baseurl }}css/main.css" />
<link rel="stylesheet" href="/res/jq-console/css/console.css" />
<link rel="stylesheet" href="/css/rouge.css" />
<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<div id="header">

	<a href="{{ site.baseurl }}res/resume.pdf" title="resume"><div id="resume"></div></a>
	<a href="http://www.linkedin.com/profile/view?id=282810346&trk=nav_responsive_tab_profile" title="linkedin"><div id="linkedin"></div></a>
	<a href="https://github.com/lemonpi" title="github"><div id="github"></div></a>
	
<div id="titlearea"><h1><a href="{{ site.baseurl }}">Johnson Zhong's <p id="titletext">Design Portfolio</p></a>
	</h1>
</div>

<div id="navbar">
    <ul id="navbar-menu">
		{% if page.group == "principles" %}
			<li id="active"><a href="{{ site.baseurl }}principles.html">Principles</a></li>
		{% else %}
			<li><a href="{{ site.baseurl }}principles.html">Principles</a></li>
		{% endif %}
		
		{% if page.group == "process" %}
			<li id="active"><a href="{{ site.baseurl }}process/">Process</a></li>
		{% else %}
			<li><a href="{{ site.baseurl }}process/">Process</a></li>
		{% endif %}
		
		{% if page.group == "projects" %}
			<li id="active"><a href="{{ site.baseurl }}projects/">Projects</a></li>
		{% else %}
			<li><a href="{{ site.baseurl }}projects/">Projects</a></li>
		{% endif %}
		
		{% if page.group == "evaluations" %}
			<li id="active"><a href="{{ site.baseurl }}evaluations/">Evaluations</a></li>
		{% else %}
			<li><a href="{{ site.baseurl }}evaluations/">Evaluations</a></li>
		{% endif %}
		
		{% if page.group == "about" %}
			<li id="active"><a href="{{ site.baseurl }}about.html">About</a></li>
		{% else %}
			<li><a href="{{ site.baseurl }}about.html">About</a></li>
		 {% endif %}
    </ul>
</div>
</div>
<div id="content">
{% if page.branch != "base" %}
	<h1>{{ page.title }}</h1>
{% endif %}
{{ content }}
</div>

<div id="footer">
<p class="reverse">ac.liamtoh</p><p class="reverse">@gnohznosnhoj</p><a id="history" href="https://github.com/LemonPi/lemonpi.github.io/commits/master/{{page.path}}">page history</a>
</div>
</body>
</html>